# Instructions

Read each question carefully and provide an appropriate answer in the following cells. Depending on the question, you may need to provide code or a text submission. **Be sure to label your answers with the question number for easy identification!**

**Question 1: Which of the following statements is the correct way to import a csv into a Pandas DataFrame? (2 points)** 

A. 

```python
import pandas as pd
infile = pd.read_csv(file_name)
```


B. 

```python
import pandas as pd
infile = pd.readCSV(file_name)
```


C. 

```python
import pandas as pd
infile = read_file(file_name)
```


D. 

```python
import pandas as pd
df.read_file(file_name)
```

In [ ]:
# Answer 1- A

**Question 2: Create a code block that first imports the `student.json` file into a Pandas dataframe named `grades`, then creates a new dataframe named `passing` that contains only the students whose `Pass/Fail` status equals `PASS`. (5 points)**

In [2]:
# Answer 2

import pandas as pd

grades_df = pd.read_csv('student.json')

**Question 3: Create a code block that creates a Pandas dataframe with the following columns and values: (5 points)**

* `Stock_Symbol`: AAPL, GOOG, TSLA, KO, MSFT
* `Company_Name`: Apple, Google, Tesla, Coca-Cola, Microsoft
* `52_Week_High`: 145.09, 1934.86, 900.40, 60.13, 242.64

In [3]:
# Answer 3

import pandas as pd

stock_values = {"Stock_Symbol":["AAPL", "GOOG", "TSLA", "KO", "MSFT"],
"Company_Name":[ "Apple", "Google", "Tesla", "Coca-Cola", "Microsoft"],
"52_Week_High":[ 145.09, 1934.86, 900.40, 60.13, 242.64]}

stock_values_df = pd.DataFrame(stock_values, columns=["Stock_Symbol", "Company_Name", "52_Week_High"])
stock_values_df

  Stock_Symbol Company_Name  52_Week_High
0         AAPL        Apple        145.09
1         GOOG       Google       1934.86
2         TSLA        Tesla        900.40
3           KO    Coca-Cola         60.13
4         MSFT    Microsoft        242.64

**Question 4: Which of the following `git` commands creates a new branch in your local repository? (2 points):**

A. `git clone`

B. `git pull <branch name>` 

C. `git checkout -b <branch name>`

D. `git push -b <branch name>`

In [ ]:
# Answer 4- C

**Question 5: Create a code block that performs the following operations: (10 points)**

   1. Import the `bitcoin_cash_price.csv` file into a Pandas dataframe called `bitcoin`.
   
   2. Import the `dash_price.csv` file into a Pandas dataframe called `dash`.
   
   3. Merge the `bitcoin` and `dash` dataframes using the `Date` column as the identifier column. Name this new merged dataframe `crypto`. 
   
   4. Create a new `Delta_Volume` column in the `crypto` dataframe that calculates the largest **absolute** difference between the bitcoin `Volume` versus dash `Volume`.
   
     * **Hint:** Use `abs()` to calculate absolute value.
   
   
   5. Find the row in the `crypto` dataframe that contains the maximum `Delta_Volume` value. Print the row out.

In [1]:
# Answer 5  

import pandas as pd

bitcoin_df = pd.read_csv('bitcoin_cash_price.csv')
dash_df = pd.read_csv('dash_price.csv')

crypto_df = pd.merge(bitcoin_df, dash_df, on="Date")
crypto_df["Delta_Volume"] = abs(crypto_df["Volume_x"]-crypto_df["Volume_y"])
crypto_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y,Delta_Volume
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000",183746400.0
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000",269880400.0
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000",634535500.0
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000",222417200.0
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000",312021500.0

**Question 6: Which of the following statements adjusts the upper and lower limits on a Matplotlib visualization? (2 points)**

A. 

```python
import matplotlib.pyplot as plt
plt.hlines(0,25,0, alpha=0.25)
```

B.

```python
import matplotlib.pyplot as plt
plt.xlim(0,25)
plt.ylim(0,25)
```

C.
```python
import matplotlib.pyplot as plt
plt.grid(0,25,0,25)
```

D.
```python
import matplotlib.pyplot as plt
plt.upper(0,25)
plt.lower(0,25)
```

In [ ]:
# Answer 6- B

**Question 7: Generate a bar plot that visualizes the following Netflix show IMDB ratings: (5 points)**

`{"Series":["The Witcher","Disenchantment","Tiger King","Ozark","Stranger Things"],"User Ratings":[8.2,7.2,7.6,8.4,8.7]}`

In [ ]:
# Answer 7 
import matplotlib.pyplot as plt
import numpy as np

Series = ["The Witcher", "Disenchantment", "Tiger King", "Ozark", "Stranger Things"]
User_Ratings = [8.2, 7.2, 7.6, 8.4, 8.7]
x_axis = np.arange(len(User_Ratings))
plt.bar(x_axis, User_Ratings, color="r", align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, ["The Witcher", "Disenchantment", "Tiger King", "Ozar", "Stranger Thing"])
plt.xlim(-0.500, len(x_axis)-1)
plt.ylim(0, max(User_Ratings)+0.2)
plt.title("IMDB ratings")
plt.xlabel("Netflix Shows")
plt.ylabel("Ratings")

**Question 8: Which of the following statements corretly creates a Matplotlib visualization with four subplots? (2 points)**

A. `plt.subplot()`

B. `plt.subplot(1,2,3,4)`

C. `plt.subplot(1,4)`

D. `plt.subplot(2,2,1)`

In [ ]:
# Answer 8- D

**Question 9: Which of the following Matplotlib methods would you use to add a label to your plot with an arrow pointing to the value? (2 points)**

A. `plt.annotate()`

B. `plt.label()`

C. `plt.show()`

D. `plt.arrow()`

In [ ]:
# Answer 9- A

**Question 10: Create a code block that performs the following operations: (15 points)**

1. Import the `earthquakes_database.csv` file into a Pandas dataframe named `earthquakes`

2. Retrieve the names of the unique data sources found in the `Source` column within your `earthquakes` dataframe.

    * **Hint:** There should be 13 data sources.


3. Create a Matplotlib scatterplot for each data source that visualizes the `Magnitude` (y-axis) versus `Depth` (x-axis). Be sure to add axis labels to your axes and title each plot with the name of the data source.

    * **Note:** You will need to filter the `earthquakes` dataframe for each category type.

In [ ]:
# Answer 10

import pandas as pd

earthquakes_df = pd.read_csv('earthquakes_database.csv')
unique = earthquakes_df["Source"].unique()
unique